{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row text-center">
                    <p>Here will be main form.</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <textarea placeholder="Enter your text..."></textarea>
                        </div>
                        <button type="button" class="btn btn btn-success">Decode</button>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <textarea placeholder="Enter your text..."></textarea>
                        </div>
                        <button type="button" class="btn btn btn-success">Encode</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}