<html>
  <head>
    {% if title %}
    <title>{{title}} &ndash; Polybius Square</title>
    {% else %}
    <title>Polybius Square</title>
    {% endif %}
  </head>
  <body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/info">Information</a></li>
            <li><a href="/developers">Developers</a></li>
        </ul>
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
<footer>
    <div align="center">KhAI 2016</div>
</footer>
</html>