{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="well well-lg">
            <div class="row">
                <p>This application makes:</p>
            </div>
            <div class="row">
                <ol>
                    <li>
                        <span>Shelehov Stanislav</span>
                    </li>
                    <li>
                        <span>Ulianin Michail</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}