{% extends "base.html" %}

{% block content %}
    <div class="container index">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="text1">Text to decode/encode:</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="text1" name="code-text" rows="5"
                                              placeholder="Enter your text..."></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox col-sm-5 col-md-offset-4">
                                    <label><input type="checkbox" id="check-pwd" value="" onclick="password_tugle(this);">Use password</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="password" >Password:</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" id="password" disabled="disabled"
                                           placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="decode-radio">Select coding type:</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" id="decode-radio" name="method-radio" value="decode" checked>Decode
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" id="encode-radio" name="method-radio" value="encode">Encode
                                    </label>
                                </div>
                            </div>
                            <div class="form-group submit-code">
                                <div class="col-sm-3 col-md-offset-4">
                                    <button type="button" class="btn btn btn-success form-control" onclick="start_coding();">Submit</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="text2">Result:</label>
                                 <div class="col-sm-8">
                                    <textarea class="form-control" id="text2" name="result-text" rows="5"
                                              placeholder="Here will be your result..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}