{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <form id="decode-form" name="form1" action="/api/decode" method="post">
                            <div class="input-group">
                                <textarea placeholder="Enter your text..." name="text-to-decode"></textarea>
                            </div>
                            <button type="submit" class="btn btn btn-success">Decode</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form id="encode-form" name="form2" action="/api/encode" method="post">
                            <div class="input-group">
                                <textarea placeholder="Enter your text..." name="text-to-encode"></textarea>
                            </div>
                            <button type="submit" class="btn btn btn-success">Encode</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}