{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="well well-lg">
{#            <div class="row">#}
{#                В криптографии квадрат Полибия (англ. Polybius square), также известный как шахматная доска Полибия — оригинальный код простой замены, одна из древнейших систем кодирования, предложенная Полибием (греческий историк, полководец, государственный деятель, III век до н. э.). Данный вид кодирования изначально применялся для греческого алфавита, но затем был распространен на другие языки.#}
{#            </div>#}
            <div class="row">
                In cryptography, the Polybius square, also known as the Polybius checkerboard, is a device invented by the Ancient Greek historian and scholar Polybius, for fractionating plaintext characters so that they can be represented by a smaller set of symbols.
            </div>
        </div>
    </div>
{% endblock %}